Package: com.chikuwa.nobatteryicon
Name: NoBatteryIcon
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: バッテリーアイコンを非表示にするだけ！ソースたったの6行！
Maintainer: Chikuwa
Author: Chikuwa
Section: Tweaks
